*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family:arial;
    background-color:#080707;
    height:100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar img{
    margin-left: 90px;
    margin-top: 10px;
}

/*navbar media queries*/

@media only screen and (max-width:767px){
    .navbar img{
        margin-left:12px;
    }
    .navbar ul{
        margin-left: 60px;
    }
   
}



.navbar ul{
    margin-right: 30px;

}
.navbar ul{
    list-style: none;
    display: flex;
    margin-right: 120px;
    
}

.navbar ul li{
    display: flex;
    
}

.navbar ul li a{
 text-decoration: none;
 display: flex;
 margin-left:10px ;
 align-items: center;
 color:#F8ECEC;
 font-size: 1.0rem;
    
}


/* center styles*/

.center{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top:30px;
}



.headingandbutton{
    margin-left: 30px;

}
.headingandbutton h1{
    font-size: 80px;
    color:#F8ECEC;
    margin-top: 130px;
    margin-right:120px;
}

.headingandbutton button{
    width:140px;
    height: 40px;
    border-radius: 5px;
    background-color: #FF0000;
  
    border:solid 1px #FF0000;
    color:#F8ECEC;
    font-size:20px;
    margin-top: 44px;
    
}
.image{
    margin-right: 30px;
}

.center .icons{
    margin-top: 50px;
}


.headingandbutton span{
color:#FF0000;

}
.icons{
    margin:14px;
}
footer{
    color:#F8ECEC;
    display: flex;
    justify-content: center;
    padding:12px;

}

/*footer media query*/

@media only screen and (max-width:767px){
    footer{
        margin-top:34px;
    }
}

/* contact page css*/

.Contacts h1{
    font-size: 80px;
    color:#F8ECEC;
    margin-top: 130px;
    margin-right:120px;
}
.conta{
    margin-top: 120px;
  
    margin-right: 350px;
    margin-left: 223px;
}
.centerContacts{
    display: flex;
    justify-content: center;
}

form{
    display:flex;
    justify-content: center;

}

.conta h1{
    color: #FF0000;
    margin-right: 470px;
}



.toflex{
    display: flex;
    justify-content: space-between;
    margin-left: 132px;
    margin-top: 12px;
}
.toflex input{
  margin: 12px;
  width: 390px;
  height:51px;
  padding: 10px;
 
  border-radius: 10px;
}

.labelandinput label{
    margin-left: 13px;
    color:#F8ECEC;
}
.labelandinput{
    margin-right: 23px;
}
textarea{
    margin-left: 146px;
    width:825px;
}
.conta button{
    margin-left: 145px;
    width:200px;
    height: 30px;
    border-radius: 5px;
    background-color: #FF0000;
    border: solid #FF0000;
    color: #F8ECEC;
    margin-top: 22px;
    font-size: 22px;

}

.iconsContact{
    margin-left: 145px;
    margin-top: 22px;
}

.iconsContact img{
    width:12px;
    height:12px;

}
.conta footer{
    margin-top: 33px;
}

/*About me*/

.Aboutme{
    color:white;
    width:70%;
    margin-left: 180px;
    margin-top: 90px;
}

.honeAboutMe{
    padding-bottom: 23px;
}
.hthreeAboutme{
    padding-top: 20px;
     font-family: arial;
     font-size: 34px;
}
.spanAboutme{
    color: red;
}
.footer{
    margin-top: 100px;
}
.iconsAboutme{
    margin-right: 245px;
    padding-top: 22px;
}
.iconsAboutme img{
    width:15px;
    height:15px;

}


/* Skills css */

.skills{
    margin-top:100px;
    margin-left:180px;
}

.skills h1{
    color: white;
}

.skills .container{
    display:flex;margin-top: 50px;
}

.imageAndDescription{
    display:block;
}
.skills h3{
    margin-left: 100px; 
    padding-top: 20px; 
    color:#F86A02;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ratings{
    display: flex;
     justify-content: space-evenly;
     margin-left: 105px;
     width:50px; 
}
.star{
    width:20px;
    height:20px;
}

.symbol{
    width:250px;
    height:250px
}

.iconsskills{
    text-align: center;
    margin-left:120px;
    padding:64px;
    margin: 12px;
}
.iconsskills img{
    width:15px;
    height:15px;
}

.footerskills{
    padding:40px;
}
.box{
    width:700px;
    height:300px;
    border-radius:20px;
    border:solid 1px white; 
    margin-left:100px;
    padding:70px;
    background-color:#FFFFFF;
}


/*@ media queries*/


/* index media queries */
/*center class media queries*/

@media only screen and (max-width:767px){
    body{
        height: 100vh;
    }
    .center {
        display: block;
    }
  .center .headingandbutton h1{
    font-size: 40px;
  }
  .center .image {
    display: flex;
    justify-content: center;
    margin-top: 42px;
   
  }
  .center img{
    width:300px
  }
  .center .icons{
   display:flex;
   justify-content: center;
   margin-right:100px;
  }
  .center .icons img{
    margin-left: 60px;
    
  }
  .icons img{
    width:40px;
    height: 40px;
  }
}
@media only screen and (min-width:768px) and (max-width:991px){
    body{
        height: 100vh;
    }
    .navbar{
        padding: 22px;
    }
    .navbar img{
        margin-left:12px;
    }
    .navbar ul{
        margin-left: 60px;
    }
    .center .headingandbutton h1{
        font-size: 60px;
      }
      .center img{
        width:300px
      }
      .icons img{
        width:40px;
        height: 40px;
    
      }
      .center{
        padding-top:220px;
        
      }
       .icons{
       display:none;
      }
      footer{
        margin-top: 200px;
        font-size: 50px;
      }
     .navbar ul li a{
           font-size: 40px;
      }



    }
    @media only screen and (min-width:992px) and (max-width:1300px){
     .navbar img{
        margin-left:15px;
     }
    }

/* end center of media queries*/

/* end of index media queries */



/* About me media queries */

@media only screen and  (max-width:767px){
 
    .Aboutme{
        margin-top:100px;
        margin-left: 50px;
        

    }
    .Aboutme h3{
        font-size:30px;
        
    }
    .iconsAboutme{
        display: flex;
        margin-left: 90px;
        margin-top: 20px;
    }
    .iconsAboutme img{
       
       margin: 12px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px){
    .Aboutme{
        margin-top:200px;
        margin-left: 150px;

    }
    .Aboutme h3{
        font-size:60px;
        
    }
    .iconsAboutme{
        display: flex;
        margin-left:190px;
        margin-top: 30px;
    }
    .iconsAboutme img{
       
       margin: 12px;
       width:50px;
       height:50px;
    }

}

@media only screen and (min-width:992px) and (max-width:1280px){
    .navbar{
        padding: 20px;
    }
    .navbar ul li a{
        font-size: 30px;
    }
    .Aboutme{
        margin-top:300px;
        margin-left: 150px;

    }
    .Aboutme h1{
        font-size: 70px;
    }
    .Aboutme h3{
        font-size:60px;
        
    }
    .iconsAboutme{
        display: flex;
        margin-left:190px;
        margin-top: 30px;
    }
    .iconsAboutme img{
       
       margin: 12px;
       width:50px;
       height:50px;
    }
    footer{
        font-size:50px;
    }
}

/* end of about media query */